* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Segoe UI", Arial, sans-serif;

    background: 
        linear-gradient(
            rgba(20, 30, 48, 0.75),
            rgba(36, 59, 85, 0.75)
        ),
        url("https://images.unsplash.com/photo-1523240795612-9a054b0db644");

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass effect */
.box {
    width: 420px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14px);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    color: white;
}

.box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 15px;
}

select {
    background: white;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #3657e0;
}

h3 {
    margin-top: 20px;
    text-align: center;
    color: #ffeb3b;
}
